.container {
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.row {
    position: relative; /* Asegúrate de que el contenedor sea relativo */
}


.backButton {
    position: absolute;
    top: 15px;
    left: -200px ;
    background-color: #f5f5f5;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.backText {
    position: relative;
    left: -180px;
    margin-left: 0px; /* Espacio entre el botón y el texto */
    align-self: center; /* Alinea verticalmente el texto */
    font-size: 16px; /* Tamaño de fuente opcional */
    font-weight: 500; /* Peso de fuente opcional */
}


.title {
    font-size: 26px;
    font-weight: bold;
    color: #510C76;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroupPnr {
    display: flex;
    flex-direction: column; /* Alineación vertical de la etiqueta */
    margin-bottom: 20px;
}

.inputContainer {
    display: flex; /* Cambia a flex para alinear horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espacio entre el input y el botón */
}
.formGroup {
    margin-bottom: 20px;
    
}

.label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.input,
.textarea,
.select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus,
.select:focus {
    border-color: #510C76;
}

.input.error,
.textarea.error,
.select.error {
    border-color: #f44336;
}

.input.success,
.textarea.success,
.select.success {
    border-color: #4CAF50;
}

.option {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.pnrButton {
    background: #510C76;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pnrButton:hover {
    background: #3f0b5e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.pnrButton.success {
    background: #4CAF50;
}


.pnrButton.error {
    background: #af4c4c;
}

.pnrButton.success:hover {
    background: #45a049;
}

.inlineFields {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.inlineField {
    flex: 1;
    min-width: 200px;
}

.selectedLuggageContainer {
    margin-top: 20px;
}

.luggageItem {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border: 1px solid #ddd;
    position: relative;
}

.luggageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.passengerName{
    font-size: 1rem;
}

.removeButton{
    background-color: #f44336;
}


.luggageDetails {
    margin-top: 10px;
}

.luggageDetails p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.createButton {
    background: #510C76;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.createButton:hover,
.backButton:hover {
    background: #3f0b5e;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: white;
}


.custom-confirm-popup .p-confirm-popup {
    background-color: #ffffff; /* Color de fondo del popup */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    opacity: 1; /* Asegúrate de que la opacidad sea 1 */
}


.custom-confirm-popup .p-confirm-popup .p-confirm-popup-header {
    background-color: #f8f8f8; /* Color de fondo del encabezado */
    color: #333; /* Color del texto del encabezado */
    font-weight: bold; 
}

.custom-confirm-popup .p-confirm-popup .p-confirm-popup-message {
    color: #555; /* Color del texto del mensaje */
    padding: 20px; /* Espaciado interior del mensaje */
}

.custom-confirm-popup .p-confirm-popup .p-confirm-popup-footer {
    display: flex;
    justify-content: flex-end; /* Alineación de los botones en el pie */
}

.custom-confirm-popup .p-confirm-popup .p-confirm-popup-footer .p-button {
    margin-left: 10px; 
}


@media (max-width: 768px) {
    .inlineFields {
        flex-direction: column;
    }

    .inlineField {
        min-width: 100%;
    }

    .luggageItem {
        padding: 15px;
    }

    .luggageDetails p {
        font-size: 13px;
    }

    .createButton,
    .backButton {
        width: 100%;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 16px;
    }

    .input,
    .textarea,
    .select {
        font-size: 12px;
        padding: 10px;
    }

    .createButton {
        padding: 8px 12px;
        font-size: 14px;
        font-size: 14px;
        position: relative;
        top: 0;
        left: 0;
        background-color: #510C76;
        border: none;
        border-radius: 9px;
        padding: 5px;
    }

    .backButton {
        position: relative;
        top: -12px;
        left: -22px;
        background-color: #510C76;
        border: none;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        color: white;
        
    }
    
    .backText {
        position: relative;
        top: -10px;
        left: -24px;
        margin-left: 0px;
        align-self: center;
        font-size: 13px;
        font-weight: 400;
        font-style: initial;
        background-color: #e1e1e114;
        padding: 11px;
        border-radius: 0.5rem;
        box-shadow: 0 5px 5px rgb(239 239 239 / 5%);
    }

    .passengerName{
        font-size: 0.7rem;
    }

    .tagName{
        font-size: 0.6rem;
    }

    .luggageItem {
        padding: 12px;
    }


    .removeButton{
        background-color: #f44336;
        border: none;   
        color: white;
        padding: 7px;
        border-radius: 50%;
        position: relative;
        top: -21px;
        left: 20px;     
    }
}


/* baggage.module.css */

.customPopup {
    background-color: #ffffff;
    border: 2px solid #510C76;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: Roboto, Arial, sans-serif;
    color: #333;
    max-width: 400px;
  }
  
  .customPopup .customHeader {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #510C76;
  }
  
  .customPopup .customIcon {
    font-size: 2rem;
    color: #510C76;
    margin-right: 10px;
  }
  
  .customPopup .customMessage {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.5;
  }
  
  .customPopup .customButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .customPopup .customButton {
    background-color: #510C76;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .customPopup .customButton:hover {
    background-color: #6f228d;
  }
  
  .customPopup .customRejectButton {
    background-color: #ccc;
    color: #333;
  }
  
  .customPopup .customRejectButton:hover {
    background-color: #999;
  }
  

  