.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalTitle {
  margin-bottom: 15px;
  color: #510C76; /* Color corporativo */
}

.input,
.select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: #510C76; /* Color corporativo */
  color: white;
  margin-right: 10px;
}

.closeButton {
  background-color: lightgray;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}
