/* styles/Alert.module.css */

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 10px auto; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-width: 90%; 
    width: 500px; 
    animation: bounceIn 0.5s ease forwards;
    z-index: 10000; 
}

.success {
    background-color: #4caf50;
    border-left: 5px solid #3e8e41; 
}

.warning {
    background-color: #ff9800; 
    border-left: 5px solid #e68a00; 
}

.error {
    background-color: #f44336; 
    border-left: 5px solid #d32f2f; 
}

.closeButton {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;

    outline:invert;
    
}

.closeButton:hover {
    opacity: 0.7;
}

.iconError{
    font-size: 2rem;

}

/* Animación de entrada tipo "bounce" */
@keyframes bounceIn {
    0% {
        transform: translate(-50%, -30%); /* Empieza un poco más arriba */
        opacity: 0;
    }
    60% {
        transform: translate(-50%, 10%); /* Se desplaza un poco hacia abajo */
    }
    80% {
        transform: translate(-50%, -5%); /* Rebota hacia arriba */
    }
    100% {
        transform: translate(-50%, 0); /* Posición final */
        opacity: 1;
    }
}

/* Ajustes para dispositivos móviles */
@media (max-width: 480px) {
    .alert {
        font-size: 14px; /* Tamaño de fuente más pequeño */
        padding: 10px 15px; /* Menos padding */
        max-width: 90%; /* Ajuste el ancho a un 90% de la pantalla */
        width: 100%; /* Permite que la alerta se ajuste */
    }
    .closeButton {
        font-size: 18px; /* Tamaño de fuente más pequeño para el botón de cierre */
    }
}
