@tailwind base;
@tailwind components;
@tailwind utilities;


/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Dim+Medium&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Dim', sans-serif;
    box-sizing: border-box;
    background-color: #f4f4f9;
}