
.innerContainer {
    padding: 20px;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }

  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33% - 20px);
    margin: 10px;
    text-align: center;
    transition: transform 0.2s;
    display: flex; /* Habilita flexbox */
    flex-direction: row; /* Alinea en fila */
    align-items: center; /* Centra verticalmente */
    overflow: hidden; /* Evita el desbordamiento */
}

/* Icono y texto ocupan espacio de forma dinámica */

.cardIcon{
    flex: 1; /* Permite que el icono se ajuste */
    font-size: 50px; 
    color: #510c76b9;/* Ajusta el tamaño del ícono si es necesario */
} 
.cardText{
    flex: 1; /* Permite que el icono se ajuste */
    font-size: 60px; /* Ajusta el tamaño del ícono si es necesario */
}

/* Textos ocupan el espacio restante */

.cardSubtext {
    flex: 2; /* Permite que los textos se ajusten */
    text-align: left; /* Alinea el texto a la izquierda */
    overflow: hidden; /* Evita el desbordamiento */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si hay desbordamiento */
}

  
  .chartBoxContainer{
    display: flex;
  }
  .chartContainer {
 
    margin-top: 20px; 
    width: 100%; 
  }
  
  /* Responsividad para móviles */
  @media (max-width: 768px) {
    .card {
      flex: 1 1 100%; /* Ocupa el 100% del ancho en móviles */
      margin: 10px 0; /* Espacio vertical en móviles */
    }
  }
  