.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modalContent h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.modalContent form {
  display: flex;
  flex-direction: column;
}

.modalContent form div {
  margin: 15px 0;
}

.modalContent form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.modalContent input[type="text"],
.modalContent input[type="email"],
.modalContent input[type="phone"],
.modalContent input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 5px;
  box-sizing: border-box;
}

.modalContent input:focus {
  outline: 2px solid #510C76;
  border-color: #510C76;
}

.submitButton,
.cancelButton {
  background-color: #510C76;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
}

.submitButton:hover,
.cancelButton:hover {
  background-color: #3f0b5e;
  transform: scale(1.05);
}

.cancelButton {
  margin-left: 10px;
}

.modalContent .modalActions {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .modalContent {
    width: 95%; /* Adaptar a pantallas pequeñas */
  }
}
