.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 40px 30px;
  width: 450px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.3s;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: -18px;
  right: 0px;
  color: #f44336;
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  transition: background-color 0.3s;
}

.close:hover {
  color: #ff6b6b;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #510c76;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.button {
  background-color: #510c76;
  color: #ffffff;
  padding: 15px; /* Aumentar el padding para mayor comodidad */
  border: none;
  border-radius: 8px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%; /* Botón ocupa el 100% del ancho */
  display: flex;
  align-items: center;
  justify-content: center; /* Alinear contenido del botón */
}

.button:hover {
  background-color: #510c76;
  transform: translateY(-2px);
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.button .icon {
  margin-right: 8px; /* Espacio entre el icono y el texto */
  font-size: 1.2rem; /* Tamaño del icono */
}

.cancelButton {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  color: #f44336;
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton:hover {
  background-color: rgba(244, 67, 54, 0.1);
}
