@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* globals.css */

.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px); 
}

.content {
  flex-grow: 1; /* Permite que el contenido ocupe el espacio restante */
  padding: 1rem; 
  transition: margin-left 0.3s ease; 
}

/* Ajusta el margen para el sidebar de 100px */
.shifted {
  margin-left: 80px; /* Cambia esto según el ancho de tu sidebar */
}

/* Sidebar Styles (Sidebar.module.css) */
.sidebar {
  position: fixed;
  top: 72px; /* Cambia esto a la altura de tu navbar */
  left: -200px; /* Inicialmente oculto */
  width: 200px; /* Ajusta el ancho */
  height: calc(100vh - 72px); /* Ocupa desde el final del navbar hasta el fondo */
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease; /* Animación suave */
  z-index: 1000; /* Asegura que esté por encima */
}

.open {
  left: 0; /* Muestra el sidebar */
}



.btn-outline-primary {
  --bs-btn-color: #510c76 !important;
  --bs-btn-border-color: #510c76 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #510c76 !important;
  --bs-btn-hover-border-color: #510c76 !important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #510c76 !important;
  --bs-btn-active-border-color: #510c76 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #510c76 !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #510c76 !important;
  --bs-gradient: none!important; }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
