@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-outline-primary {
  --bs-btn-color: #510c76 !important;
  --bs-btn-border-color: #510c76 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #510c76 !important;
  --bs-btn-hover-border-color: #510c76 !important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #510c76 !important;
  --bs-btn-active-border-color: #510c76 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #510c76 !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #510c76 !important;
  --bs-gradient: none!important; }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
