/* Navbar.module.css */

/* Estilo para la barra de navegación */
.navBar {
  background-color: #f8f9fa; /* Color de fondo de la navbar */
  border-bottom: 1px solid #dee2e6; /* Línea debajo de la navbar */
}

/* Estilo para el menú desplegable */
.customDropdown {
  background-color: white; /* Cambia el color de fondo */
  border-radius: 0.25rem; /* Bordes redondeados */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Sombra para dar profundidad */
}

/* Estilo para los elementos del menú */
.dropdown-item {
  padding: 10px 20px; /* Añade padding para mejor espacio */
}

/* Mejora el efecto hover en los elementos */
.dropdown-item:hover {
  background-color: #f8f9fa; /* Color de fondo en hover */
}

/* Estilo para el botón de usuario */
.userButton {
  background-color: transparent; /* Sin fondo para el botón */
  border: none; /* Sin borde */
  color: inherit; /* Hereda el color del texto */
}

/* Estilo para el logotipo */
.logo {
  max-width: 100%; /* Asegura que el logo no exceda su contenedor */
}
