.header {
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2000 !important; /* Asegúrate de que el navbar tenga un z-index alto */
  position: relative; /* Necesario para que z-index funcione */
}



.navbar{
  flex-wrap: nowrap !important;
  padding: 10px 20px; 
}

.navbar-brand {
  font-size: 1.5rem;
  color: #343a40;
}

.navbar-nav {
  flex-grow: 1; /* Permite que los enlaces crezcan */
}

.avatar {
  width: 30px; /* Tamaño del avatar */
  height: 30px;
  border-radius: 50%; /* Hace el avatar redondo */
  margin-right: 10px; /* Espacio entre el avatar y el texto */
}



/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinea a la izquierda */
  }

  .navbar-brand {
    margin-bottom: 10px; /* Espacio entre el logo y los botones */
  }

  .nav-link {
    padding: 0.5rem 1rem; /* Ajusta el padding para mejor ajuste en móviles */
    font-size: 0.9rem; /* Cambia el tamaño de la fuente */
  }

  .btn-outline-primary {
    margin-top: 5px; /* Espacio entre los botones en móviles */
  }
}

.iconLogout {
  padding: 2px;
  color: #007bff;
  font-size: 1.5rem;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

